{% extends "base.html" %}
{% block main %}
<h1>PagePile Visual Filter</h1>
<p>
  This is an auxiliary tool for <a href="https://tools.wmflabs.org/pagepile/">PagePile</a> –
  it allows you to visually select a subset of a pile,
  in a manner similar to the <a href="https://commons.wikimedia.org/wiki/Special:MyLanguage/Help:Gadget-Cat-a-lot">Cat-a-lot gadget</a>,
  and save it as a new pile.
</p>
<form method="get" action="{{ url_for('pagepile_redirect') }}">
  <div class="form-group">
    <label for="page_pile_id">PagePile ID</label>
    <input id="page_pile_id" class="form-control" name="page_pile_id" inputmode="numeric" pattern="[1-9][0-9]*" required placeholder="12345" autofocus>
  </div>
  <button class="btn btn-primary">Filter this PagePile</button>
{% endblock %}
