{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>
  input[type=checkbox]:checked ~ img {
      outline: rgba(255, 0, 0, 0.5) 100px solid;
      outline-offset: -100px;
  }

  input[type=checkbox] {
      display: none;
  }
</style>
<script defer src="{{ url_for('static', filename='selection-buttons.js') }}"></script>
{% endblock %}
{% block main %}
<h1>Filter <a href="https://pagepile.toolforge.org/api.php?action=get_data&id={{ id }}&format=html">PagePile #{{ id }}</a></h1>
<p>
  Select all the files that you want to <strong>keep</strong> in the new PagePile.
  You can click anywhere on an image to select or deselect it.
  When you’re done, click “Filter PagePile” at the bottom
  and you will be redirected to the new PagePile.
</p>
<div id="selection_buttons">
  <noscript>
    Enable JavaScript for “select all”, “select none” and “invert selection” buttons.
    (The rest of the tool works without JavaScript, if you can’t enable it.)
  </noscript>
</div>
<form method="post" action="{{ url_for('filter_pagepile', id=id) }}">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div>
    {% for page in pages %}
    <label>
      <input type="checkbox" name="file" value="{{ page }}">
      <img src="https://{{ domain }}/wiki/Special:FilePath/{{ page }}?width=250px&height=250px">
    </label>
    {% endfor %}
  </div>
  <button class="btn btn-primary">Filter PagePile</button>
</form>
{% endblock %}
